<header class="container">
  <h1 id="title">Title of Site</h1>
  <nav>
    {{#if session.isAuthenticated}}
      {{my-account-menu  invalidateSession='invalidateSession'}}
    {{else}}
      {{site-menu}}
    {{/if}}
  </nav>
</header>
<div id="page-content" class="container">
  {{outlet}}
</div>
<footer class="container">
  {{footer-menu}}
</footer>