<header class="container">
  <h1 id="title">Title of Site</h1>
  <nav>
    {{#if session.isAuthenticated}}
      {{my-account-menu}}
    {{else}}
      {{#if session.isAuthenticated}}
        <a {{action 'invalidateSession'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    {{/if}}
  </nav>
</header>
<div id="page-content" class="container">
  {{outlet}}
</div>
<footer class="container">
  {{footer-menu}}
</footer>